@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Sour Gummy', sans-serif;
  background-color: #6d7e92;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin: auto;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  text-decoration: line-through;
}
.text-joueur {
  margin-top: 2em;
  font-size: 22px;
}
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  fill: transparent;
  width: 100%;
  height: 265px;
  margin-top: 4em;
}
svg.pendu {
  width: 60%;
}
.figure-game {
  display: none;
}
.groupeDoit {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.mauvaise-lettre-container {
  font-size: 20px;
}
span.text-decoration {
  text-decoration: line-through;
  border: solid 1px;
  width: 100%;
  margin-top: 1em;
}
.mot {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45%;
  color: black;
}
.lettre {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 3px;
  display: inline-flex;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  margin: 0px 6px;
  height: 50px;
  width: 20px;
}
ul.list-indice {
  margin-top: 1em;
}
.indiceUser {
  margin-top: 0.5em;
}
.container-indice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3em;
}
.indice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.design-indice {
  cursor: pointer;
  font-size: 30px;
  margin: 0 auto;
}
.popup-container {
  background-color: #000000b8;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.popup {
  background-color: #6d7e92;
  border-radius: 10px;
  padding: 2em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.popup button {
  cursor: pointer;
  padding: 0.5em 2em;
  border: none;
  margin-top: 4em;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: black 2px 0px 6px 1px;
}
.popup button:active {
  transform: scale(0.95);
}
.popup button:focus {
  outline: 0;
}
.notification-container {
  position: absolute;
  background-color: #000000b8;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 30px 15px;
  left: 0;
  bottom: -300px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.notification-container.afficher {
  transform: translateY(-300px);
}
.notification-text {
  font-size: 24px;
  padding: 2em 2em;
}
.keyboard {
  z-index: -1;
  position: absolute;
  background-color: #c0c0c0;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  transition: 0.2s;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
}
.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.btnClavier {
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.5em;
  margin: 5px 5px;
  cursor: pointer;
  font-size: 25px;
  width: 100%;
  height: 70px;
}
.delete {
  width: 100%;
  padding: 0px 45px;
}
@media screen and (max-width: 900px) {
  .keyboard {
    max-width: 650px;
  }
  .btnClavier {
    height: 50px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
    margin-top: 8px;
  }
  .text-joueur {
    font-size: 14px;
    margin-top: 6px;
  }
  .game-container {
    width: 100%;
    height: 350px;
    margin-top: 1em;
  }
  .pendu {
    width: 50%;
  }
  .groupeDoit {
    width: 50%;
    margin: 10px;
  }
  .mauvaise-lettre-container {
    font-size: 16px;
  }
  .mot {
    bottom: 200px;
  }
  .design-indice {
    font-size: 18px;
  }
  .notification-container {
    bottom: -190px;
    padding: 15px 0px;
  }
  .notification-container.afficher {
    transform: translateY(-190px);
  }
  .keyboard {
    bottom: 6%;
    max-width: 400px;
  }
  .btnClavier {
    font-size: 26px;
    width: 30px;
    height: 30px;
    padding: 15px;
    border-radius: 4px;
    margin: 4px;
  }
  .delete {
    width: 96px !important;
  }
}
@media screen and (max-width: 370px) {
  .btnClavier {
    padding: 4px;
  }
}
