@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Sour Gummy', sans-serif;
  background-color: #6d7e92;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 0.5em;
  text-decoration: line-through;
  font-family: 'Courier New', Courier, monospace;
}
.text-joueur {
  font-size: 20px;
  margin: 1em 2em;
}
.game-container {
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  fill: transparent;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}
.groupeDoit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pendu {
  width: 65%;
}
.figure-game {
  display: none;
}
.mot {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 125px;
  color: black;
}
.mauvaise-lettre-container {
  width: 100%;
  font-size: 20px;
  margin: 0em 1.5em;
}
#mauvaise-lettre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.75em;
}

.lettre {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 3px;
  display: inline-flex;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  margin: 0px 3px;
  height: 50px;
  width: 20px;
}
span.text-decoration {
  text-decoration: line-through;
  border: solid 1px;
  width: 80%;
  margin-top: 1em;
}
.indiceUser {
  margin-top: 1em;
}
.indice {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2em 1em;
  cursor: pointer;
  background: none;
  color: #000;
  transition: transform 0.5s ease-in-out;
  padding: 0.75em;
  border-radius: 50%;
  background-color: #fff;
}
ul.list-indice {
  margin-top: 1em;
}

.popup-container {
  background-color: #000000b8;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.popup {
  background-color: #6d7e92;
  border-radius: 10px;
  padding: 2em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
}
.popup button {
  cursor: pointer;
  padding: 0.5em 2em;
  border: none;
  margin-top: 4em;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: black 2px 0px 6px 1px;
}
.popup button:active {
  transform: scale(0.95);
}
.popup button:focus {
  outline: 0;
}
.notification-container {
  background-color: #000000b8;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 30px 15px;
  position: absolute;
  bottom: -85px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.notification-container.afficher {
  transform: translateY(-85px);
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 35px;
  }
  .text-joueur {
    font-size: 16px;
  }
  .game-container {
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
  }
  .pendu {
    width: 50%;
  }
  .groupeDoit {
    width: 100%;
  }
  .mauvaise-lettre-container {
    font-size: 16px;
  }
  .mot {
    bottom: 50px;
  }
  .design-indice {
    font-size: 18px;
  }
  .indice {
    padding: 0.25em;
  }
  .indiceUser {
    margin-top: 0.25em;
    font-size: 14px;
  }
  .notification-container {
    bottom: -105px;
  }
  .notification-container.afficher {
    transform: translateY(-105px);
  }
}
